* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	background: linear-gradient(#66d455, rgba(0, 0, 0, .92));
	background-repeat: no-repeat;
	height: 100%;
}

h1 {
	color: whitesmoke;
	margin-top: 30px;
	margin-bottom: 30px;

}

div {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}

input {
	width: 100%;
	margin: 10px;
	padding: 10px;
	border-radius: 6px;
	border: 2px solid black;
	box-shadow: 2px .5px #999;
	font-size: 20px; /* look for standard size */
}

button, #searchBtn {
	width: 75%;
	border-radius: 6px;
	background-color: #4b9565;
	color: white;
	font-size: 20px;
	border-color: white;
}

.list-group-item {
	text-align: left;
	background-color: black;
	color: white;
	margin-bottom: 10px;
}

.list-group-item a {
	color: white;
}

.avatar {
	border-radius: 50%;
}